.grid
{
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.item
{
    border-radius: 20px;
    background-color: lightgreen;

    width: 310px;
    font-family: fantasy;
    border: solid green;
    margin-top:10px;
}

.menu
{
    display: flex;
    justify-content: space-between;
    background-color: #F4F9;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #00CCCC;
}

body
{
    background-color: #ff64ff;
}

.item:hover
{
    opacity:1;
    transform: scale(0.7,0.7);
}

a:link
{
    color: salmon;
}

a:visited
{
    color: seagreen;
}